.gradient-custom {
    /* fallback for old browsers */
    background: #cbc6d1;
    
    /* Chrome 10-25, Safari 5.1-6 */
    background: -webkit-linear-gradient(to right, rgb(199, 193, 205), rgb(158, 170, 189));
    
    /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    background: linear-gradient(to right, rgb(183, 175, 191), rgb(145, 150, 158))
    }